
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 text-center">
          <h1 >Reusable Tooltip Functionality</h1>
      </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <h3 class="text-center">Tooltip functionality has been written as a reusable directive</h3>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
          <a [routerLink]="['/ToolTipDemo']" href="">Click here to see ToolTip demo</a>            
        </div>
    </div> 
    <br>
    <br>
    <br>
    <br> 
    <router-outlet></router-outlet>  
</div>





