$font-color: #f3f3ef;
$background-color: #121213;
$li-padding:10px;
$navbarBgColor:#0f0f0f;
$navbarBrColor:#fff;
$navLinkHoverColor:rgb(137, 165, 241); 
$headerBgColor:  rgb(243, 240, 240);
$footerBgColor: rgb(34, 34, 34);
$divTextColor:  #ccc;  
