@import './vars';
@import './navbar';
@import './header';
@import './footer';
@import './mixin';



body {
  padding: 0;
  margin: 0;
  
}

div{
    text-align: center;
}

h2{
  @include textFormatting(); //mixin called
}

ul{
    text-align: left;
  li{
  justify-items: left;
  padding: $li-padding;
    }
} 

.cls-tooltip {
  background-color: $background-color;
  color: $font-color;
  position: absolute;      
  text-align: center;
  font-style: italic;
  font-weight: bold;    
}


